/* Size customization */
.one-sidebar #content
{
width : 80%;
}

#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns, #footer 
{
width : 97%;
margin-left : 3%
}

#logo img
{
width : 50%;
height : auto;
}

#site-name
{
font-size : 80px;
font-family : impact;
}

/*manual background changes*/
/*Color change for Links*/
#header a:link {color:#ffffff;text-decoration: none;}    /* unvisited link */
#header a:visited {color:#ffffff;text-decoration: none;} /* visited link */
#header a:hover {color:#ffffff;text-decoration: none;}   /* mouse over link */
#header a:active {color:#ffffff;text-decoration: none;}  /* selected link */

#main-wrapper a:link {color:#000000;text-decoration: none;}
#main-wrapper a:visited {color:#000000;text-decoration: none;}
#main-wrapper a:hover {color:#000000;text-decoration: none;} 
#main-wrapper a:active {color:#000000;text-decoration: none;} 

#main-menu-links  a:link {color:#000000;text-decoration: none;}
#main-menu-links  a:visited {color:#000000;text-decoration: none;}
#main-menu-links  a:hover {color:#000000;text-decoration: none;} 
#main-menu-links  a:active {color:#000000;text-decoration: none;} 
 /* selected link */


#block-search-form, #block-system-navigation
{
border : 3px ridge;
border-radius : 1em;
}

/*OVERRIDE regions[header]:  setting region background color to transparent so that you can see the background image behind it*/
#header{

  background-image: url("http://fotobg.ru/upload/sky_texture1967.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font: 76%/170% Verdana, Arial, Helvetica, sans-serif;
font-size:large;
a:link {color:#ffffff;text-decoration: none;}    /* unvisited link */
a:visited {color:#ffffff;text-decoration: none;} /* visited link */
a:hover {color:#ffffff;text-decoration: none;}   /* mouse over link */
a:active {color:#ffffff;text-decoration: none;}  /* selected link */


}
/*OVERRIDE regions[content]:  setting region background color to transparent so that you can see the background image behind it*/
#page {
  /* background-color:transparent;
  background-image:none;
*/
background-image: url("http://www.latoro.com/wallpapers/nature/17944-desktop-wallpapers-above-the-clouds.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.sidebar h2
{ 
color : white;
font-size :1.871em;
}

.sidebar li
{
font-size : 1.5em;
}

#search-block-form input.form-submit
{
margin-left:10px;
}

#header
{
background-attachment : scroll;
}

.node
{
background-color : #FFFFFF;
border-radius : 2em;
padding : 1.5em 1.5em 1.5em 1.5em;
margin-right : 40px;
min-height : 20em;
max-height : 80em;
width : 25em;
float : left;
}

#content,
#main-menu-links li a.active,
#main-menu-links li.active-trail a{
background-image:none;
font: 76%/170% Verdana, Arial, Helvetica, sans-serif;
font-size:medium;
a:link {color:#000000;text-decoration: none;}    /* unvisited link */
a:visited {color:#000000;text-decoration: none;} /* visited link */
a:hover {color:#000000;text-decoration: none;}   /* mouse over link */
a:active {color:#000000;text-decoration: none;}  /* selected link */

}

#block-search-form .form-item-search-block-form input
{
width : 8em;
}

/*OVERRIDE page-wrapper:  setting a background image*/
/*change ONLY this one for full screen images*/
  
}
/*OVERRIDE regions[footer]:  setting region background color to transparent so that you can see the background image behind it*/
#footer-wrapper {
  background-color:#FFFFFF;
background-image:none;
width : 70%;
margin-right:auto;
margin-left:auto;
}